@model List<Ticket>

@section CssSection {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
}

<div class="container-fluid bg-breadcrumb">
    <div class="container text-center" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            My Tickets
        </h1>
    </div>
</div>
<div class="card radius-15">
    <div class="card-body">
        <hr />
        <div class="table-responsive">
            <table class="table mb-0" id="dataTable">
                <thead>
                    <tr>
                        <th scope="col" class="text-center"></th>
                        <th scope="col" class="text-center">Activity</th>
                        <th scope="col" class="text-center">Activity Name</th>
                        <th scope="col" class="text-center">Artist</th>
                        <th scope="col" class="text-center">Number of People</th>
                        <th scope="col" class="text-center">Activity Date</th>
                        <th scope="col" class="text-center">Activity Time</th>
                        <th scope="col" class="text-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= Model.Count(); i++)
                    {
                        <tr>
                            <th scope="row" class="text-center"></th>
                            <td class="text-center"><img class="rounded ml-3 shadow" src="@Model[i - 1].Activity.ActivityImageUrl" width="50" height="50" style="object-fit: cover" /></td>
                            <td>@Model[i - 1].Activity.ActivityName</td>
                            <td class="text-center">@Model[i - 1].Activity.Artist.ArtistName</td>
                            <td class="text-center">@Model[i - 1].NumberPeople</td>
                            <td class="text-center">@Model[i - 1].Activity.ActivityDate.ToString("dd MMMM yyyy")</td>
                            <td class="text-center">@Model[i - 1].Activity.ActivityDate.ToString("HH:mm")</td>
                            <td class="text-center">
                                @if (@Model[i - 1].TicketStatus == true)
                                {
                                    <span class="badge" style="background-color: green; color: white;">
                                        Purchased Ticket
                                    </span>
                                }
                                else
                                {
                                    if (@Model[i - 1].Activity.ActivityDate < DateTime.Now)
                                    {
                                        <span class="badge" style="background-color: red; color: white;">EVENT DURATION IS OVER</span>
                                    }
                                    else
                                    {
                                        <span class="badge" style="background-color: red; color: white;">Payment Not Made</span>
                                    }
                                }
                            </td>
                            <td class="text-end">
                                @if (@Model[i - 1].TicketStatus == true)
                                {
                                    <button class="btn btn-danger" onclick="DeactivateByJs('@Model[i - 1].Id');">Cancel Ticket</button>
                                }
                                @if (@Model[i - 1].Activity.ActivityDate < DateTime.Now)
                                {

                                }
                                else
                                {
                                    if (@Model[i - 1].TicketStatus == true)
                                    {
                                        <button class="btn btn-warning" onclick="showQrCode('@Model[i - 1].Id');">Qr Code Show</button>
                                    }
                                    else
                                    {

                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section ScriptSection {
    <script>
        var openedPopups = [];

        function showQrCode(id) {
            for (var i = 0; i < openedPopups.length; i++) {
                openedPopups[i].close();
            }
            openedPopups = [];

            var qrCodeUrl = '/Ticket/QrCod?id=' + id;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', qrCodeUrl, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var qrCodeImage = xhr.responseText;
                    var width = 350;
                    var height = 350;
                    var left = (screen.width - width) / 2;
                    var top = (screen.height - height) / 2;
                    var popupWindow = window.open('', '_blank', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
                    if (popupWindow) {
                        popupWindow.document.write(qrCodeImage);
                        popupWindow.document.close();
                        openedPopups.push(popupWindow);
                    } else {
                        alert('Popup window blocked. Please allow.');
                    }
                } else if (xhr.readyState === 4 && xhr.status !== 200) {
                    alert('The QR code could not be captured. An error occurred.');
                }
            };
            xhr.send();
        }
    </script>

    <script>
        function DeactivateByJs(Id) {
            var result = confirm("Are you sure you want to cancel your ticket?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: "/Ticket/DeactivateByJs",
                    data: { Id: Id },
                    success: function (data) {
                        alert(data);
                        location.reload();
                        window.location.href = '/Ticket/MyTicket';
                    },
                    error: function (data) {
                        alert("Error: " + data);
                    }
                });
            } else {

            }
        }
    </script>

    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                "pageLength": 10,
                "order": [[2, 'asc']],
                "lengthMenu": [[5, 10, 20, 50], [5, 10, 20, 50, "All"]],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var startIndex = api.context[0]._iDisplayStart;
                    if (api.page.info().page > 0) {
                        startIndex = startIndex - (api.page.info().page * api.page.info().length);
                    }
                    api.column(0, { order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = startIndex + i + 1;
                    });
                }
            });
            table.page(0).draw(false);
        });
    </script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
}