
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/img/hero-bg.png" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">@Model.Title</h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">@Model.TitleT</h1>
                        <p class="mb-5 fs-5">@Html.Raw(Model.MainPageDescription)</p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" asp-controller="Home" asp-action="Activities">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid packages py-5">
    <div class="container py-2">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Activities</h5>
            <h1 class="mb-0">
                Are You Ready To Have Fun
            </h1>
        </div>
        <div class="packages-carousel owl-carousel">
            @foreach (var item in Model.Activities)
            {
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="@item.ActivityImageUrl" class="img-fluid" style="height: 300px; object-fit: cover; border-radius: .5rem 0 0 .5rem;">
                        <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2">&nbsp&nbsp;@item.ActivityDate.ToString("dd /MM /yyyy")</i></small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-stopwatch me-2"></i>@item.ActivityDate.ToString("HH:mm")</small>
                        </div>
                        <div class="packages-price py-2 px-4">@item.ActivityPrice.ToString("C")</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">@item.ActivityName</h5>
                            <small class="text-uppercase">@item.Artist.ArtistName</small>
                            <hr />
                            <p class="mb-4">@Html.Raw(item.ActivityDescription.Length > 100 ? item.ActivityDescription.Substring(0, 195) + "..." : item.ActivityDescription)</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="/Home/ActivitiesDetails/@item.Id" class="btn-hover btn text-white py-2 px-4">Read More</a>
                            </div>
                            <div class="col-6 text-end px-0">
                                <a href="/Ticket/Create/@item.Id" class="btn-hover btn text-white py-2 px-4">Buy a Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Activities" class="btn btn-primary rounded-pill py-3 px-5 mt-2">More Activities</a>
    </div>
</div>

<div class="container-fluid bg-light service py-5">
    <div class="container py-2">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Searvices</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">
                                    Eating and Drinking
                                </h5>
                                <p class="mb-0">
                                    Stands as one of the city's most beloved cafés, offering guests an unforgettable experience. Here, a menu filled with flavorful meals and refreshing beverages awaits you.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-mug-hot fa-4x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-music fa-4x text-primary"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Live Music</h5>
                                <p class="mb-0">
                                    Our roster of talented musicians covers a variety of genres to appeal to every musical taste. Enjoy captivating performances that will have you tapping your feet and humming all night long.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid guide py-5">
    <div class="container py-2">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Artists</h5>
            <h1 class="mb-0">Talented Artists Together</h1>
        </div>
        <div class="row g-4">
            @foreach (var item in Model.Artists)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <a href="/Home/ArtistsDetails/@item.Id">
                            <div class="guide-img">
                                <div class="guide-img-efects">
                                    <img src="@item.ArtistImageUrl" class="img-fluid w-100 rounded-top">
                                </div>
                            </div>
                            <div class="guide-title text-center rounded-bottom p-4">
                                <div class="guide-title-inner">
                                    <h4 class="mt-3">@item.ArtistName</h4>
                                    <p class="mb-0">Birth Date | @item.ArtistBirthDate.ToString("dd MMMM yyyy")</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="text-center">
        <a asp-controller="Home" asp-action="Artists" class="btn btn-primary rounded-pill py-3 px-5 mt-2">More Artists</a>
    </div>
</div>

<div class="container-fluid bg-light service py-5">
    <div class="container py-2">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">
                Finished Activities
            </h5>
            <h1 class="mb-4">Old Activities</h1>
            <p class="mb-0">
                Our fun activities you will never forget
            </p>
        </div>
        <div class="row g-4 justify-content-center">

            @foreach (var item in Model.FinishedActivities)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <div class="blog-img">
                            <div class="blog-img-inner">
                                <img class="img-fluid" style="height: 300px; object-fit: cover; border-radius: .5rem 0 0 .5rem;" src="@item.ActivityImageUrl">
                            </div>
                            <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@item.ActivityDate.ToString("dd MMMM yyyy")</small>
                            </div>
                        </div>
                        <div class="blog-content border border-top-0 rounded-bottom p-4">
                            <p class="mb-3">@item.Artist.ArtistName</p>
                            <a href="#" class="h4">@item.ActivityName</a>
                            <p class="my-3">@Html.Raw(item.ActivityDescription.Length > 100 ? item.ActivityDescription.Substring(0, 195) + "..." : item.ActivityDescription)</p>
                            <a href="/Home/ActivitiesDetails/@item.Id" class="btn btn-primary rounded-pill py-2 px-4">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid testimonial py-5">
    <div class="container py-2">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">
                Comments From You
            </h5>
        </div>
        <div class="testimonial-carousel owl-carousel">

            @foreach (var item in Model.Contacts)
            {
                <div class="testimonial-item text-center rounded pb-4">
                    <div class="testimonial-comment bg-light rounded p-4">
                        <p class="text-center mb-5">
                            @Html.Raw(item.ContactMessage)
                        </p>
                    </div>
                    <div class="testimonial-img p-1">
                        <img src="@item.ContactImageUrl" class="img-fluid rounded-circle">
                    </div>
                    <div style="margin-top: -35px;">
                        <h5 class="mb-0">@item.ContactFullName</h5>
                        <p class="mb-0">@item.ContactDate.ToString("dd MMMM yyyy")</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
